{% extends "base.html" %}
{% load crispy_forms_tags %}  {# if using crispy forms #}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <div class="row">
    <div class="mx-auto card m-5 col-sm-10 col-md-10 col-lg-4 shadow-lg " style="background:">
      <div class="text-center">
    <h2>{{ heading }}</h2>
      </div>
    {{ form|crispy }} 
    <div class="text-center mb-2">
    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
    </div>
    </div>  
  </div>
  </form>
{% endblock %}
